
    .navbar-brand {
        Color: #ffffff
    }

    .nav-header {
        background-color: teal;
        padding: 15px;
    }
    h1 {
        border-bottom: 2px solid #666666;
        color: teal;
    }
    body {
    background: url("houndstooth-pattern.png");
    background-repeat: repeat;
    background-color: #cccccc;
    }
    .content {
        background-color: #ffffff;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        align-content: center;
    }
    footer {
        background-color: #666666;
        border-top: 4px solid teal;
        bottom: 0%;
        position: fixed;
        text-align: center;
        width: 100%;
        
    }
    .nav-bar {
        padding-bottom: 25px;
    }
    .profile-picture {
        width: 200px;
        height: 200px;
    }